/* ---- tsparticles container ---- */
.tsparticles {
  position: absolute;
  z-index: -12;
}
.cardsContainer{
  width: 90%;
  margin: auto;
  padding: .5rem;
  display: flex;
  /* padding: 1rem;
  overflow-x: hidden;
  overflow-y: auto; 
  position: relative;
  height:'100%';
  flex-direction: column-reverse;
  align-items:'center'; */
}
.cardsContainer::-webkit-scrollbar {display:none;}
